<a href="https://colab.research.google.com/github/tracyhua2/SYS3034-APSCase/blob/main/Code/SYS3034_APS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [46]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [47]:
CRCT_Grade3_2013_url = 'https://raw.githubusercontent.com/tracyhua2/SYS3034-APSCase/refs/heads/main/Data/CRCT_Grade3_2013.csv'
Grade3_2013_df = pd.read_csv(CRCT_Grade3_2013_url)
Grade3_2013_df['Year'] = 2013
Grade3_2013_df.head()

,Key,System name,School name,N Tested Reading,Reading: Mean Scale Score,Reading: % Did not meet the standard,Reading: % Meets the standard,Reading: % Exceeds the standard,Reading: % Met or Exceeded the standard,N Tested ELA,...,Science: % Meets the standard,Science: % Exceeds the standard,Science: % Met or Exceeded the standard,N Tested Social Studies,Social Studies: Mean Scale Score,Social Studies: % Did not meet the standard,Social Studies: % Meets the standard,Social Studies: % Exceeds the standard,Social Studies: % Met or Exceeded the standard,Year
0,6010177,APPLING COUNTY,APPLING CO EL,187,843.03,3.7,54.0,42.2,96.3,187,...,66.8,13.9,80.7,187,809.04,31.0,64.7,4.3,69.0,2013
1,6011050,APPLING COUNTY,ALTAMAHA ELEM,55,845.49,0.0,50.9,49.1,100.0,55,...,76.4,20.0,96.4,55,825.98,9.1,72.7,18.2,90.9,2013
2,6015050,APPLING COUNTY,FOURTH DISTRI,20,839.00,0.0,70.0,30.0,100.0,20,...,55.0,40.0,95.0,21,821.38,4.8,95.2,0.0,95.2,2013
3,6020187,ATKINSON COUNTY,WILLACOOCHEE,39,826.74,7.7,74.4,17.9,92.3,39,...,66.7,15.4,82.1,39,820.36,23.1,66.7,10.3,76.9,2013
4,6020190,ATKINSON COUNTY,PEARSON ELEME,88,837.53,8.0,58.0,34.1,92.0,88,...,63.6,26.1,89.8,88,832.01,13.6,60.2,26.1,86.4,2013

In [48]:
CRCT_Grade3_2014_url = 'https://raw.githubusercontent.com/tracyhua2/SYS3034-APSCase/refs/heads/main/Data/CRCT_Grade3_2014.csv'
Grade3_2014_df = pd.read_csv(CRCT_Grade3_2014_url)
Grade3_2014_df['Year'] = 2014
Grade3_2014_df.head()

,Key,System name,School name,N Tested Reading,Reading: Mean Scale Score,Reading: % Did not meet the standard,Reading: % Meets the standard,Reading: % Exceeds the standard,Reading: % Met or Exceeded the standard,N Tested ELA,...,Science: % Met or Exceeded the standard,N Tested Social Studies,Social Studies: Mean Scale Score,Social Studies: % Did not meet the standard,Social Studies: % Meets the standard,Social Studies: % Exceeds the standard,Social Studies: % Met or Exceeded the standard,RESA,Congressional District,Year
0,6010177,APPLING COUNTY,APPLING CO EL,141,837.72,5.7,60.3,34.0,94.3,141,...,79.9,149,813.67,29.5,57.7,12.8,70.5,4,1st,2014
1,6011050,APPLING COUNTY,ALTAMAHA ELEM,67,836.51,7.5,58.2,34.3,92.5,67,...,83.6,67,814.75,25.4,71.6,3.0,74.6,4,1st,2014
2,6015050,APPLING COUNTY,FOURTH DISTRI,17,845.53,5.9,47.1,47.1,94.1,17,...,70.6,17,808.65,29.4,64.7,5.9,70.6,4,1st,2014
3,6020187,ATKINSON COUNTY,WILLACOOCHEE,37,834.14,5.4,64.9,29.7,94.6,37,...,79.5,39,830.85,12.8,56.4,30.8,87.2,13,1st,2014
4,6020190,ATKINSON COUNTY,PEARSON ELEME,103,836.83,9.7,55.3,35.0,90.3,103,...,87.6,105,826.66,10.5,73.3,16.2,89.5,13,1st,2014

In [49]:
Grade3_2013_df.columns

Index(['Key', 'System name', 'School name', 'N Tested Reading',
       'Reading: Mean Scale Score', 'Reading: % Did not meet the standard',
       'Reading: % Meets the standard', 'Reading: % Exceeds the standard',
       'Reading: % Met or Exceeded the standard', 'N Tested ELA',
       'ELA: Mean Scale Score', 'ELA: % Did not meet the standard',
       'ELA: % Meets the standard', 'ELA: % Exceeds the standard',
       'ELA: % Met or Exceeded the standard', 'N Tested Math',
       'Math: Mean Scale Score', 'Math: % Did not meet the standard',
       'Math: % Meets the standard', 'Math: % Exceeds the standard',
       'Math: % Met or Exceeded the standard', 'N Tested Science',
       'Science: Mean Scale Score', 'Science: % Did not meet the standard',
       'Science: % Meets the standard', 'Science: % Exceeds the standard',
       'Science: % Met or Exceeded the standard', 'N Tested Social Studies',
       'Social Studies: Mean Scale Score',
       'Social Studies: % Did not meet the standard',
       'Social Studies: % Meets the standard',
       'Social Studies: % Exceeds the standard',
       'Social Studies: % Met or Exceeded the standard', 'Year'],
      dtype='object')

In [50]:
Grade3_2013_df.dtypes

Key                                                int64
System name                                       object
School name                                       object
N Tested Reading                                   int64
Reading: Mean Scale Score                         object
Reading: % Did not meet the standard              object
Reading: % Meets the standard                     object
Reading: % Exceeds the standard                   object
Reading: % Met or Exceeded the standard           object
N Tested ELA                                       int64
ELA: Mean Scale Score                             object
ELA: % Did not meet the standard                  object
ELA: % Meets the standard                         object
ELA: % Exceeds the standard                       object
ELA: % Met or Exceeded the standard               object
N Tested Math                                      int64
Math: Mean Scale Score                            object
Math: % Did not meet the standard                 object
Math: % Meets the standard                        object
Math: % Exceeds the standard                      object
Math: % Met or Exceeded the standard              object
N Tested Science                                   int64
Science: Mean Scale Score                         object
Science: % Did not meet the standard              object
Science: % Meets the standard                     object
Science: % Exceeds the standard                   object
Science: % Met or Exceeded the standard           object
N Tested Social Studies                            int64
Social Studies: Mean Scale Score                  object
Social Studies: % Did not meet the standard       object
Social Studies: % Meets the standard              object
Social Studies: % Exceeds the standard            object
Social Studies: % Met or Exceeded the standard    object
Year                                               int64
dtype: object

In [51]:
Grade3_2013_df['System name'] = Grade3_2013_df['System name'].astype(str)

In [52]:
APS_Grade3_2013 = Grade3_2013_df[Grade3_2013_df['System name'].isin(['ATLANTA PUBLIC SCHOO'])]
APS_Grade3_2013.tail()

,Key,System name,School name,N Tested Reading,Reading: Mean Scale Score,Reading: % Did not meet the standard,Reading: % Meets the standard,Reading: % Exceeds the standard,Reading: % Met or Exceeded the standard,N Tested ELA,...,Science: % Meets the standard,Science: % Exceeds the standard,Science: % Met or Exceeded the standard,N Tested Social Studies,Social Studies: Mean Scale Score,Social Studies: % Did not meet the standard,Social Studies: % Meets the standard,Social Studies: % Exceeds the standard,Social Studies: % Met or Exceeded the standard,Year
1189,7615560,ATLANTA PUBLIC SCHOO,GROVE PARK EL,85,808.08,40.0,50.6,9.4,60.0,85,...,44.7,4.7,49.4,85,793.82,60.0,37.6,2.4,40.0,2013
1190,7615562,ATLANTA PUBLIC SCHOO,HUMPHRIES ELE,52,811.08,30.8,63.5,5.8,69.2,52,...,55.8,1.9,57.7,52,800.77,50.0,48.1,1.9,50.0,2013
1191,7615566,ATLANTA PUBLIC SCHOO,F L STANTON,54,812.39,29.6,59.3,11.1,70.4,54,...,48.1,9.3,57.4,54,800.28,48.1,50.0,1.9,51.9,2013
1192,7615567,ATLANTA PUBLIC SCHOO,TOOMER ELEMEN,20,824.65,15.0,55.0,30.0,85.0,20,...,65.0,5.0,70.0,20,820.75,20.0,60.0,20.0,80.0,2013
1193,7615569,ATLANTA PUBLIC SCHOO,WOODSON ELEME,58,815.33,29.3,55.2,15.5,70.7,58,...,43.1,10.3,53.4,57,807.70,35.1,59.6,5.3,64.9,2013

In [53]:
# make everything float then fill NAs
exclude_cols = ['School name', 'System name']
cols_to_convert = [col for col in APS_Grade3_2013.columns if col not in exclude_cols]
APS_Grade3_2013[cols_to_convert] = APS_Grade3_2013[cols_to_convert].apply(pd.to_numeric, errors='coerce')

<ipython-input-53-8110f6cbd3cd>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  APS_Grade3_2013[cols_to_convert] = APS_Grade3_2013[cols_to_convert].apply(pd.to_numeric, errors='coerce')

In [61]:
# reading score statistics
reading_mean = APS_Grade3_2013['Reading: Mean Scale Score'].mean()
reading_max = APS_Grade3_2013['Reading: Mean Scale Score'].max()
reading_min = APS_Grade3_2013['Reading: Mean Scale Score'].min()
reading_std = APS_Grade3_2013['Reading: Mean Scale Score'].std()

print(f'Mean: {reading_mean}, Range: {reading_min, reading_max}, STD: {reading_std}')

Mean: 824.0640000000002, Range: (804.14, 867.27), STD: 16.034223060458594

In [62]:
# ELA score statistics
ELA_mean = APS_Grade3_2013['ELA: Mean Scale Score'].mean()
ELA_max = APS_Grade3_2013['ELA: Mean Scale Score'].max()
ELA_min = APS_Grade3_2013['ELA: Mean Scale Score'].min()
ELA_std = APS_Grade3_2013['ELA: Mean Scale Score'].std()

print(f'Mean: {ELA_mean}, Range: {ELA_min, ELA_max}, STD: {ELA_std}')

Mean: 824.699, Range: (804.0, 861.06), STD: 14.950089246374972

In [63]:
# math score statistics
math_mean = APS_Grade3_2013['Math: Mean Scale Score'].mean()
math_max = APS_Grade3_2013['Math: Mean Scale Score'].max()
math_min = APS_Grade3_2013['Math: Mean Scale Score'].min()
math_std = APS_Grade3_2013['Math: Mean Scale Score'].std()

print(f'Mean: {math_mean}, Range: {math_min, math_max}, STD: {math_std}')

Mean: 815.1685, Range: (779.47, 875.6), STD: 22.511226790429912

In [64]:
# science score statistics
science_mean = APS_Grade3_2013['Science: Mean Scale Score'].mean()
science_max = APS_Grade3_2013['Science: Mean Scale Score'].max()
science_min = APS_Grade3_2013['Science: Mean Scale Score'].min()
science_std = APS_Grade3_2013['Science: Mean Scale Score'].std()

print(f'Mean: {science_mean}, Range: {science_min, science_max}, STD: {science_std}')

Mean: 817.0730000000001, Range: (794.05, 874.77), STD: 21.045729169387

In [67]:
# social science score statistics
social_mean = APS_Grade3_2013['Social Studies: Mean Scale Score'].mean()
social_max = APS_Grade3_2013['Social Studies: Mean Scale Score'].max()
social_min = APS_Grade3_2013['Social Studies: Mean Scale Score'].min()
social_std = APS_Grade3_2013['Social Studies: Mean Scale Score'].std()

print(f'Mean: {social_mean}, Range: {social_min, social_max}, STD: {social_std}')

Mean: 814.8971666666665, Range: (788.52, 866.41), STD: 18.82580811434644